.container {
  width: 100%;
  height: calc(100% - 92px);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.mainCard {
  // background-color: rgba(118, 130, 193, 0.08);
  background: transparent;
  
  // border: 1px solid #a0f7ff;
  border: 1px solid var(--new_stroke, #6F6F6F26);
  backdrop-filter: blur(120px);
  width: 100%;
  height: 100%;
  min-height: 200px;
  border-radius: 24px;
  padding: 24px 9px 24px 24px;

  .innerCard {
    width: 100%;
    height: 100%;
    position: relative;
    .topRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 10px;
    }
    .body {
      padding: 0px 10px 2px 0;
      width: 100%;
      max-height: calc(93% - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
      .newsContainer {
        width: calc(100% - 38px);
        height: max-content;
        margin-top: 10px;
        margin-left: 23px;
        margin-bottom: 10px;
        overflow-x: hidden;

        cursor: pointer;
        .news {
          width: 100%;
          min-height: 195px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // background-color: rgba(118, 130, 193, 0.08);
         

          border-radius: 15px;

          background: var(--background-content_bg-content_bg_3, rgba(137, 137, 234, 0.03));
          backdrop-filter: blur(50px);
          position: relative;
          user-select: none;
          overflow-x: hidden;

          .left {
            width: calc(100% - 391px);
            padding: 24px 10px 24px 24px;
            min-height: 191px;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            user-select: none;
            .menu {
              display: flex;
              align-items: center;
              margin-top: 10px;
              .withicon {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  margin-right: 5px;
                }
              }
              .dot {
                background: #d9d9d9;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                margin: 0 10px;
              }
            }
          }
          .right {
            width: 381px;
            height: 100%;
            min-height: 195px;
            position: relative;
            // clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 9% 100%);

            margin: 0;
            padding: 0;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            img {
              height: 100%;
              width: 100% !important;
              border-top-right-radius: 12px;
              border-bottom-right-radius: 12px;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
            }
          }
          .quizbanner {
            width: 225px;
            height: 46px;
            padding: 13px 30px;
            // background: linear-gradient(
            //   90deg,
            //   #228aa1 0%,
            //   #68dced 99.81%,
            //   #0fc870 230.16%,
            //   #5bf4ab 298.91%
            // );
            border-radius: 12px 0px;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(150%);
            background: linear-gradient(180deg, rgba(254, 200, 241, 0.9) -22.92%, rgba(254, 200, 241, 0) 26.73%), radial-gradient(109.99% 253.12% at 76.68% 66.67%, #602EA6 0%, #C977D6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            background-blend-mode: overlay;

            // transition: transform 0.3s ease-in-out;
          }
        }
        .divider {
          margin: 20px 0;
          border: none;
          background: radial-gradient(
            109.73% 5604800.39% at 106.42% 0%,
            rgba(158, 166, 186, 0) 0%,
            #9ea6ba 50.62%,
            rgba(158, 166, 186, 0) 100%
          );
          width: 80%;
          margin-left: 10%;
          height: 2px;
        }
      }
      .newsContainer:not(:hover) {
        // bounce_img_back
        .news {
          .left {
          }
          .right {
            animation: bounce_img_back 400ms ease-in-out forwards;
          }
        }
        .quizbanner {
          display: block;
          animation: bounce_btn_back 400ms ease-in-out forwards;
        }
      }
      .newsContainer:hover {
        // margin-left: 0;
        // width: 100%;
        animation: widthChange 400ms ease-in forwards;
        // marginLeftChange 400ms ease-in forwards;
        .news {
          min-height: 200px;
          background: rgba(137, 137, 234, 0.05);

          .left {
            animation: bounce_left_news 600ms ease-in-out forwards;

            .title {
              text-decoration: underline;
              text-decoration-thickness: 1px;
            }
          }
          .right {
            // width: 350px;
            width: 391px;

            min-height: 200px;
            animation: bounce 600ms ease-in-out forwards;
          }
          .quizbanner {
            display: block;
            animation: bounce_btn 600ms ease-in-out forwards;
          }
        }
      }
    }
  }
}
.paginationbar {
  width: max-content;
  display: flex;
  justify-content: center;
}
@keyframes widthChange {
  from {
    width: calc(100% - 38px);
    margin-left: 16px;
  }
  to {
    width: calc(100% - 19px);
    margin-left: 8px;
  }
}

@keyframes bounce {
  0% {
    clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 9% 100%);
  }
  30% {
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 5% 100%);
  }
  50% {
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  80% {
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 1% 100%);
  }
  65%, 100% {
    clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 2% 100%);
  }
}

@keyframes bounce_img_back {
  0% {
    clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 2% 100%);
  }
  20% {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 6% 100%);
  }
  40% {
    clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 6% 100%);
  }
  60% {
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 6% 100%);
  }
  80% {
    clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 8% 100%);
  }
  100% {
    clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 9% 100%);
  }
}

@keyframes bounce_btn {
  0% {
    transform: translateX(150%);
  }
  40% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-8%);
  }
  80% {
    transform: translateX(-4%);
  }
  65%, 100% {
    transform: translateX(0%);
  }
}

@keyframes bounce_btn_back {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(95%);
  }
  60%, 100% {
    transform: translateX(105%);
  }
}

@keyframes bounce_left_news {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(0.5%);
  }
  80% {
    transform: translateX(0.7%);
  }
  65%, 100% {
    transform: translateX(0%);
  }
}


.scrollUpBtn {
  position: fixed;
  display: flex;
  bottom: 100px;
  right: 25px;
  width: 64px;
  height: 64px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50px;
  background-image: var(
    --gradients-green_gradients-active_gradient,
    linear-gradient(
      90deg,
      #228aa1 0%,
      #68dced 99.81%,
      #0fc870 230.16%,
      #5bf4ab 298.91%
    )
  );
  transform: translateY(200px);
  transition: transform 0.5s ease-in-out;
  /* shadows/btn_dropshadow */
  box-shadow: 0px 4px 27px 0px rgba(18, 101, 128, 0.25),
    0px 4px 97px 0px rgba(18, 101, 128, 0.25),
    0px 4px 195px 0px rgba(18, 101, 128, 0.25);
}

.scrollUpBtn:hover {
  animation: mymove 0.5s ease-in-out forwards ;
}

@keyframes mymove {
  0% {
    background-image: var(
      --gradients-green_gradients-active_gradient,
      linear-gradient(
        90deg,
        #228aa1 0%,
        #68dced 99.81%,
        #0fc870 230.16%,
        #5bf4ab 298.91%
      )
    );
  }
  13% {
    background-image: var(
      --gradients-green_gradients-active_gradient,
      linear-gradient(
        90deg,
        #228aa1 -6.6575%,
        #68dced 83.058%,
        #0fc870 201.4975%,
        #5bf4ab 274.04625%
      )
    );
  }
  25% {
    background-image: var(
      --gradients-green_gradients-active_gradient,
      linear-gradient(
        90deg,
        #228aa1 -13.315%,
        #68dced 66.3075%,
        #0fc870 172.835%,
        #5bf4ab 249.1825%
      )
    );
  }
  38% {
    background-image: var(
      --gradients-green_gradients-active_gradient,
      linear-gradient(
        90deg,
        #228aa1 -19.9725%,
        #68dced 49.55625%,
        #0fc870 144.1725%,
        #5bf4ab 224.31875%
      )
    );
  }
  50% {
    background-image: var(
      --gradients-green_gradients-active_gradient,
      linear-gradient(
        90deg,
        #228aa1 -26.63%,
        #68dced 32.805%,
        #0fc870 115.51%,
        #5bf4ab 199.455%
      )
    );
  }
  63% {
    background-image: var(
      --gradients-green_gradients-hover_gradient,
      linear-gradient(
        90deg,
        #228aa1 -33.2875%,
        #68dced 16.05375%,
        #0fc870 86.8475%,
        #5bf4ab 174.59125%
      )
    );
  }
  75% {
    background-image: var(
      --gradients-green_gradients-hover_gradient,
      linear-gradient(
        90deg,
        #228aa1 -39.945%,
        #68dced -0.6975%,
        #0fc870 58.185%,
        #5bf4ab 149.7275%
      )
    );
  }
  88% {
    background-image: var(
      --gradients-green_gradients-hover_gradient,
      linear-gradient(
        90deg,
        #228aa1 -46.6025%,
        #68dced -17.44875%,
        #0fc870 29.5225%,
        #5bf4ab 124.86375%
      )
    );
  }
  100% {
    background-image: var(
      --gradients-green_gradients-hover_gradient,
      linear-gradient(
        90deg,
        #228aa1 -53.26%,
        #68dced -34.2%,
        #0fc870 0.86%,
        #5bf4ab 100%
      )
    );
  }
}
.showScroolBtn {
  transform: translateY(0);
}
