.legend {
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 8px 0;
  min-width: 100px;

  &:hover {
    border-bottom: 1px solid #ffffffde;
  }
}

.legendColor {
  width: 24px;
  height: 16px;
  border-radius: 2px;
  margin-right: 10px;
}
