@media (max-width: 500px) {
    .section-container {
      justify-content: center;
      align-items: center;
      min-height: calc(100dvh - 0px) !important ;
      height: calc(100dvh - 0px);
      max-height: calc(100dvh - 0px) !important;
      width: 100dvw;
      padding-top: 0;
      padding-bottom: 0;
    }
   
  }
  