.OurCustomTblContainer {
  position: relative;
  width: 100%;
  // overflow-x: auto;

  padding: 0;

  height: 100%;
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-corner {
    background: none; /* or any color you want */
}

  .OurCustomTblContainer_content {
    // background: var(
    //   --background-content_bg-content_bg-5,
    //   rgba(137, 137, 234, 0.05)
    // );
    border-radius: 16px;
    background-color: #0f0c1a;
    // backdrop-filter: blur(50px);
    padding: 0 24px 24px 24px;
    max-width: 100%;
    overflow-x: auto;
    position: relative;
    max-height: calc(100dvh - 400px);
    overflow-y: auto;
    min-height: 250px;
    // padding-right: 6px;
    table {
      // border-collapse: collapse;
      border-collapse: separate;
      border-spacing: 0 5px;
      width: 100%;
      position: relative;
      thead {
        position: sticky;
        top: 0;
        background-color: #0f0c1a;
        z-index: 10;
        // border-bottom: 1px solid rgba(255, 255, 255);
        tr {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          th {
            color: var(--gray-gray, #bebebe);
            text-align: left;
            /* Body-1/Regular */
            font-family: var(--Gilroy);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 10px 12px 18px 12px;
            padding-top: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            // border-bottom: 1px solid rgba(255, 255, 255);
            .OurCustomTblContainer_alignRow {
              display: flex;
              align-items: center;
              .OurCustomTblContainer_alignRow_sortingIcon {
                transform: translateY(10%);
              }
            }
          }
          .OurCustomTblContainer_ShowOnMobile{
            display: none;
          }
          .OurCustomTblContainer_MobSideArrowModalOpen_th {
            display: none;
            width: 21px;
            max-width: 21px;
            svg {
              margin-right: 0;
            }
          }
        }
      }
    }
    tbody {
      z-index: 5;

      tr {
        td {
          // display: flex;
          // align-items: center;

          margin-top: 10px;
          padding: 10px 12px 10px 12px;
          color: var(--White-white, #fff);
          font-family: var(--Gilroy);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          svg {
            min-width: 20px;
            min-height: 21px;
            margin-right: 16px;
          }
        }
        td:first-child {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }
        td:last-child {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }
        &:hover {
          border-radius: 12px;
          background: var(--White-white_3, rgba(255, 255, 255, 0.03));
          cursor: pointer;
        }
        .OurCustomTblContainer_MobSideArrowModalOpen_td {
          display: none;
          max-width: 21px;
          width: 21px;
          margin-right: 0;
          svg {
            margin-right: 0;
          }
        }
      }
      .OurCustomTblContainer_content_selectedRow {
        // border-radius: 12px;

        background: var(--White-white_3, rgba(255, 255, 255, 0.03));
      }
    }
    .statusCol {
      width: 140px;
    }
    .statusColRow {
      padding-left: 0;
    }
    .OurCustomTblContainer_Status {
      display: flex;
      width: 110px;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 50px;
      position: relative;
      background: rgba(91, 244, 171, 0.05);
      label {
        /* Body-1/Regular */
        font-family: var(--Gilroy);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .OurCustomTblContainer_Status_tooltip {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 40%;
        transform: translateY(-50%);
        max-width: 150px;
        display: inline-flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid var(--new_stroke, rgba(111, 111, 111, 0.15));
        background: var(
          --background-content_bg-content_bg-5,
          rgba(137, 137, 234, 0.05)
        );
        box-shadow: 0px 16px 35px -15px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12.5px);
        label {
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .OurCustomTblContainer_Status:hover {
      .OurCustomTblContainer_Status_tooltip {
        visibility: visible;
      }
    }
    .OurCustomTblContainer_OnChain {
      border: 1px solid rgba(62, 255, 163, 0.25);
      label {
        color: var(--success-green_success, #5bf4ab);
        text-shadow: 0px 0px 604.8px #3effa3, 0px 0px 28.8px #3effa3;
      }
    }
    .OurCustomTblContainer_Pending {
      border: 1px solid rgba(215, 154, 64, 0.25);

      background: rgba(215, 154, 64, 0.05);
      label {
        color: var(--orange-orange, #d79a40);
        text-shadow: 0px 0px 604.8px #d79a40, 0px 0px 28.8px #d79a40;
      }
    }
    .OurCustomTblContainer_OffChain {
      border: 1px solid rgba(205, 46, 84, 0.25);

      background: rgba(205, 46, 84, 0.05);
      label {
        color: var(--red-pale_red, #cd2e54);
        text-shadow: 0px 0px 604.8px #cd2e54, 0px 0px 28.8px #cd2e54;
      }
    }
  }
  .OurCustomTblContainer_paginationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;

    .detailValues {
      color: #fff;
      font-size: 14px;
      font-family: var(--Gilroy);
      font-weight: 400;
      word-wrap: break-word;
      letter-spacing: 1.3px;
    }
  }

  .arrowIcon {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 10px;
  }

  .arrowIcon svg {
    width: 4.94px;
    height: 8px;
    fill: var(--White-white, #fff);
    zoom: 0.7;
  }

  .highlight {
    background: var(
      --new_accent,
      linear-gradient(126deg, #45d3e8 0%, #0cf54e 140.38%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--White-white, #fff);

    /* Body-1/Medium */
    font-style: normal;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .OurCustomTblContainer {
    padding: 0;

    background: transparent;
    .OurCustomTblContainer_content {
      padding: 0px 16px 8px 16px;
      border-radius: 16px;
      // background: var(
      //   --background-content_bg-content_bg-5,
      //   rgba(137, 137, 234, 0.05)
      // );
      background: #0f0c1a;
      max-height: calc(100dvh - 319px);
      // max-height: max-content;

      table {
        thead {
          background-color: #0f0c1a;
          tr {
            th {
              font-size: 12px;
              padding: 10px 4px 10px 4px;
            }
            .OurCustomTblContainer_ShowOnMobile{
              display: table-cell;
            }
            .OurCustomTblContainer_MobSideArrowModalOpen_th {
              display: table-cell;
              padding: 0;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 10px 4px 10px 4px;
              font-size: 12px;
              // width: 65px;
              // text-align: center;
              .ToHideSvg {
                display: none;
              }
            }
            .OurCustomTblContainer_MobSideArrowModalOpen_td {
              display: block;
              padding: 10px 0;
            }
          }
        }
        .OurCustomTblContainer_hideOnMobile {
          display: none !important;
        }
      }
      .OurCustomTblContainer_Status {
        width: 45px;
        padding: 0;
        border-radius: 0;

        background: transparent;
        label {
          font-size: 12px;
        }
        .OurCustomTblContainer_Status_tooltip {
          display: none;
        }
      }
      .OurCustomTblContainer_OnChain {
        border: none;
        label {
          color: var(--success-green_success, #5bf4ab);
          text-shadow: none;
        }
      }
      .OurCustomTblContainer_Pending {
        border: none;
        background: transparent;

        label {
          color: var(--orange-orange, #d79a40);
          text-shadow: none;
        }
      }
      .OurCustomTblContainer_OffChain {
        border: none;
        background: transparent;

        label {
          color: var(--red-pale_red, #cd2e54);
          text-shadow: none;
        }
      }
    }
    .OurCustomTblContainer_paginationContainer {
      padding: 15px 0 0 0;
      flex-direction: column-reverse;
      .detailValues {
        font-size: 14px;
        margin-top: 14px;
        font-family: var(--GilroySemiBold);
      }
    }
  }
}

.TblPageViewdropdown {
  display: flex;
  align-items: center;
  .TblPageViewdropdown_lbl {
    margin-right: 16px;
    color: var(--White-white, #fff);
    text-align: center;

    /* Body-2/medium */
    font-family: var(--GilroyMed);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
  }
  .react-dropdown-select {
    margin: 0;
    border: 1px solid rgba(111, 111, 111, 0.25) !important;
    width: 52px !important;
    outline: none;
    box-shadow: none;
  }
  .react-dropdown-select:focus-within {
    box-shadow: none !important;
  }

  .react-dropdown-select[aria-expanded="true"] {
    border: 1px solid rgba(111, 111, 111, 0.25) !important;
    box-shadow: none !important;
  }
  .dropdownDisabled {
    cursor: not-allowed;
  }
  .dropdownDisabled label {
    cursor: not-allowed;
  }
  .dropdownDisabled input {
    cursor: not-allowed;
  }
  .react-dropdown-select-content {
    font-family: var(--GilroySemiBold);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    height: max-content;
    padding: 0;
  }
  .react-dropdown-select-input {
    display: none !important;
  }
  .react-dropdown-select-dropdown {
    /* background-color: #100a1c; */
    background-color: #1e1c2e;
    border: none;
    max-height: 180px;
    // border-bottom-left-radius: 12px;
    border-radius: 12px;
    padding: 0;
    border-radius: 12px;
    border: 1px solid var(--new_stroke, rgba(111, 111, 111, 0.15));
    z-index: 15;
    // background: var(
    //   --background-content_bg-content_bg-5,
    //   rgba(137, 137, 234, 0.05)
    // );
    // /* blur/blur_45 */
    // backdrop-filter: blur(22.350000381469727px);
  }

  .react-dropdown-select-item {
    border: none;
    color: var(--White-white, #fff);
    /* Body-2/medium */
    font-family: var(--GilroyMed);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 10px 16px;
  }

  .react-dropdown-select-item:hover {
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    );
  }
  .react-dropdown-select-item-selected {
    border-top: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    border-bottom: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    ) !important;
    /* color: #d376ff !important; */
  }
  .react-dropdown-select-item-selected:hover {
    border-top: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    border-bottom: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    ) !important;
    /* color: #d376ff !important; */
  }
}

.dropdownTblFilter {
  .react-dropdown-select {
    margin: 0;
    // border: 1px solid rgba(111, 111, 111, 0.15) !important;
    border: none !important;
    outline: none;
    box-shadow: none;
    font-family: var(--Gilroy) !important;
    font-size: 16px !important;
    font-style: normal !important;
    color: #bebebe !important;
    // background: rgba(137, 137, 234, 0.05) !important;
    background: transparent !important;
    border-radius: 6px !important;
    padding: 8px !important;
    height: 36px !important;
    min-height: 36px !important;
    width: max-content !important;
    // min-width: 93px !important;
  }
  .react-dropdown-select:focus {
  }
  .react-dropdown-select:focus-within {
    box-shadow: none !important;
  }
  .react-dropdown-select[aria-expanded="true"] {
    border: 1px solid rgba(111, 111, 111, 0.15) !important;
    background: rgba(137, 137, 234, 0.05) !important;
    box-shadow: none !important;
  }
  .dropdownDisabled {
    cursor: not-allowed;
  }
  .dropdownDisabled label {
    cursor: not-allowed;
  }
  .dropdownDisabled input {
    cursor: not-allowed;
  }
  .react-dropdown-select-content {
    font-family: var(--Gilroy);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    height: max-content;
    padding: 0;
  }
  .react-dropdown-select-input {
    display: none !important;
  }
  .react-dropdown-select-dropdown {
    width: 93px;
    background-color: #1e1c2e;
    max-height: 180px;
    border-radius: 12px;
    padding: 0;
    border-radius: 12px;
    border: 1px solid var(--new_stroke, rgba(111, 111, 111, 0.15));
    z-index: 15;
    // background: var(
    //   --background-content_bg-content_bg-5,
    //   rgba(137, 137, 234, 0.05)
    // );
    // backdrop-filter: blur(12px);
  }

  .react-dropdown-select-item {
    border: none;
    color: var(--White-white, #fff);
    /* Body-2/medium */
    font-family: var(--GilroyMed);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 10px 16px;
  }

  .react-dropdown-select-item:hover {
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    );
  }
  .react-dropdown-select-item-selected {
    border-top: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    border-bottom: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    ) !important;
    color: #d376ff !important;
  }
  .react-dropdown-select-item-selected:hover {
    border-top: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    border-bottom: 1px solid var(--White-white_2, rgba(255, 255, 255, 0.02)) !important;
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    ) !important;
    color: #d376ff !important;
  }
}
@media (max-width: 768px) {
  .dropdownTblFilter {
    .react-dropdown-select {
      font-size: 12px !important;
      padding: 6px !important;
      height: 30px !important;
      min-height: 30px !important;
    }

    .react-dropdown-select-content {
      font-size: 12px;
      line-height: 16px;
      font-family: var(--GilroySemiBold);
    }

    .react-dropdown-select-item {
      padding: 6px;
    }
  }
}
