// GilroySemiBold
// GilroyMed
// Gilroy
.gamesWrapper {
  color: white;

  margin-top: 24px;
  background: transparent;
  border-radius: 50px;
  border-radius: 50px;
  border: 1px solid var(--new_stroke, rgba(111, 111, 111, 0.15));
  min-height: calc(100% - 220px);

  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-top: 36px;

    h1 {
      color: var(--White-white, #fff);

      /* Title-2/Semi-bold */
      font-family: var(--GilroySemiBold);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 24px */
    }

    p {
      color: var(--White-white, #fff);
      text-align: center;

      /* Body-1/Regular */
      font-family: var(--Gilroy);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .cardsWrapper {
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    position: relative;

    .gameCard {
      width: 340px;
      height: 560px;
      position: relative;
      overflow: hidden;
    }

    .lockedCard {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(7.3px);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }

      .comingSoonContainer {
        display: inline-flex;
        height: 376px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 127px;
        z-index: 1;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;

          svg {
            width: 24px;
            height: 24px;
          }

          h2 {
            color: var(--White-white, #fff);
            text-align: center;

            /* Title-2/Semi-bold */
            font-family: var(--GilroySemiBold);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 24px */
          }

          p {
            text-align: center;

            /* Body-1/Semi-bold */
            font-family: var(--GilroySemiBold);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 16px */
          }
        }
      }
    }

    .activeGame {
      border-radius: 12px;
      border: 1px solid var(--purple-purple, #d376ff);
      background: var(
        --Background-bg_radial,
        radial-gradient(52% 52% at 50% 52%, #3a2456 0%, #09040f 100%)
      );

      img {
        transition: transform 0.2s ease;
      }

      &:hover {
        cursor: pointer;
        img:nth-child(1) {
          transform: scale(1.1) translateX(10px);
        }

        img:nth-child(4) {
          transform: scale(1.1) translateX(-10px);
        }

        img:nth-child(2),
        img:nth-child(3) {
          transform: scale(1.1);
        }
      }

      .lightning1 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      .avatarLeft {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
      }

      .avatarRight {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
      }

      .lightning2 {
        z-index: 4;
        position: absolute;
        bottom: 10%;
        right: 0;
      }
    }

    .footerMob {
      display: none;
    }
    .footer {
      display: flex;
      width: 340px;
      height: 180px;
      padding: 16px;
      flex-direction: column;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      border-radius: 0px 0px 15px 15px;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        rgba(118, 130, 193, 0.15);

      /* blur/blur_100 */
      backdrop-filter: blur(50px);

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        h3 {
          color: var(--White-white, #fff);
          text-align: center;

          /* Title-2/Semi-bold */
          font-family: var(--GilroySemiBold);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 24px */
        }

        p {
          color: var(--White-white, #fff);
          text-align: center;

          /* Body-2/Light */
          font-family: var(--Gilroy);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .gamesWrapper {
    border-radius: 24px;
    padding: 16px;

    .header {
      margin-top: 0;
      text-align: center;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    .cardsWrapper {
      flex-direction: column;
      height: auto;

      .gameCard {
        width: 341px;
        height: 231px;
        min-height: 231px;
        border-radius: 12px;
        border: 1px solid var(--new_input_stroke, rgba(111, 111, 111, 0.25));

        .lockedCard {
          .comingSoonContainer {
            .content {
              h2 {
                font-size: 20px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }

      .activeGame {
        .footer {
          display: none;
        }

        .lightning2 {
          bottom: 0;
        }

        .footerMob {
          display: flex;
          width: 343px;
          padding: 16px;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.65) 0%,
              rgba(0, 0, 0, 0.65) 100%
            ),
            rgba(118, 130, 193, 0.15);

          /* blur/blur_100 */
          backdrop-filter: blur(50px);

          position: absolute;
          bottom: 0;
          z-index: 5;

          h3 {
            color: var(--White-white, #fff);
            text-align: center;

            /* Body-1/Semi-bold */
            font-family: var(--GilroySemiBold);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 16px */
          }
        }
      }
    }
  }
}

.highlight {
  background: var(
    --new_accent,
    linear-gradient(126deg, #45d3e8 0%, #0cf54e 140.38%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--White-white, #fff);

  /* Body-1/Medium */
  font-style: normal;
  line-height: normal;
}
