// GilroyMed
// GilroySemiBold
// Gilroy
.CountDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 61px;
  height: 43px;

  h1 {
    color: var(--White-white, #fff);
    text-align: center;

    /* Title-2/Semi-bold */
    font-family: var(--GilroySemiBold);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
  }

  p {
    color: var(--White-white, #fff);

    /* Body-1/Medium */
    font-family: var(--GilroyMed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
